# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true
charset = utf-8

[*.{kt,kts}]
# noinspection EditorConfigKeyCorrectness
disabled_rules = no-wildcard-imports, filename
